/* estilos.css */

/* Cambia el fondo de toda la página */
body {
  background-color: #f9f9f9;
  color: #222222;
  font-family: "Segoe UI", sans-serif;
}


/* Cambiar color de fondo del navbar */
.navbar-default {
  background-color: #98989a;
  border-color: #161a1d;
}

/* Cambiar el texto de los enlaces */
.navbar-default .navbar-nav > li > a {
  color: white;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}


/* Colores del encabezado */
h1, h2, h3 {
  color: #a57f2c;
}

/* Cambia el color de los enlaces */
a {
  color: #0088cc;
}
a:hover {
  color: #005577;
}

/* Estilo para tablas */
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1em;
}
th {
  background-color: #e0ecf4;
  padding: 8px;
}
td {
  border: 1px solid #ccc;
  padding: 8px;
}

/* Área de código */
pre {
  background-color: #f0f0f0;
  padding: 10px;
  border-left: 4px solid #0088cc;
}




/* 🎯 ESTILO SOLO PARA LA TABLA CON ID "mi-tabla-mtcars" */
#mi-tabla-mtcars thead th {
  background-color: #006633;
  color: white;
}



/* 🎨 ESTILO PARA BANNER DE IMAGEN */
banner  {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-bottom: 4px solid #004080;
}

